/cases_2012_delhi_clean.csv
/cases_2012_delhi_features.csv
/cases_2010_delhi_clean.csv
/cases_2011_delhi_clean.csv
/cases_2013_delhi_clean.csv
/cases_2010_2013_delhi_features.csv
/cases_2010_2013_orissa_survival_features.csv
/cases_2010_2013_orissa_survival_normalized.csv
/cases_2010_2013_orissa_features.csv
/cases_2010_2013_orissa_normalized.csv
/cases_2010_2013_orissa_features.csv
/cases_2010_2013_orissa_normalized.csv
/cases_2010_2013_bihar_survival_features.csv
/cases_2010_2013_bihar_survival_normalized.csv
/cases_2010_2013_bihar_survival_features.csv.gz
/cases_2010_2013_bihar_survival_normalized.csv.gz
/cases_2010_2013_orissa_survival_features.csv.gz
/cases_2010_2013_orissa_survival_normalized.csv.gz
